@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    --margin: 0 10vh;
    --font-family: 'Comfortaa', cursive;
    --background: linear-gradient(rgb(73, 156, 237), rgb(30, 50, 208));
    --bg-color: #fff;
    --card-color: rgba(244, 244, 244, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    color: black;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
  display: flex;
    margin: var(--margin);
  justify-content: space-between;
  font-size: 1.8vh;
}

.navbar div {
  width: 100%;
}

.small_logo {
  height: 7vh;
}

.navbar_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}

.acc-button {
  display: flex;
  align-items: center;
  gap: 3vh;
  justify-content: end;
}

.reg {
  color: white;
  border-radius: 4vh;
  padding: 1vh 1.8vh;
  background: var(--background);
}

.search {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3vh;
  
}

.search input {
  border: 0;
  font-size: 1.8vh;
  font-family: Comfortaa;
}

.search-bar {
  min-width: 50%;
  gap: 1vh;
  display: flex;
  height: auto;
  outline: 0.25vh solid rgba(73, 156, 237, 0.8);
  padding: 0.3vh 0.5vh;
  border-radius: 2vh;
}

.magnifying_glass {
  height: 3vh;
}

.search-input {
  width: 95%;
  border-radius: 10px;
}

.search-button {
  padding: 0.7vh 1.2vh;
  outline: 0.25vh solid rgba(73, 156, 237, 0.8);
  border-radius: 2vh;
  font-size: 2vh;
}

.orders-family {
  align-items: flex-start;
  background-color: var(--bg-color);
  display: flex;
  height: 60vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0px;
}

.cards {
  margin-top: 5vh;
  justify-content: center;
  align-content: flex-start;
  /* display: flex; */
  flex-wrap: wrap;
  /* gap: 8px; */
  max-width: 60%;
  width: calc(100% - 20px);
  /* height: 60%; */
  max-height: 80%;
  height: calc(100% - 20px);
  background: white;
}

.card {
  background: var(--card-color);
  border-radius: 1.5vh;
  cursor: pointer;
  display: flex;
  height: 50%;
  flex-direction: column;
  position: relative;
  width: 40%;
}

.card p{
  padding: 1.5vh;
}

.name {
  margin: -6vh 0vh 0 3vh;
  font-size: 1.9vh;
  position: absolute;
  left: 2.5vh;
}

.rating {
  display: flex;
  position: relative;
}

.company-name {
  display: flex;
  width: 100%;
  margin-left: 3.5vh;
}

.company-image {
  height: 3.5vh;
  margin: 1.5vh 3vh;
}

.rating-number {
  margin-top: 1vh;
  margin-left: 1vh;
  font-size: 2vh;
}

.rating-result {
	width: 15vh;
	margin: 1.8vh -1vh;
}

.rating-result span {
	padding: 0vh;
	font-size: 2vh;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
	content: '★';
}

.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.cost {
  font-size: 2.5vh;
}

.description {
  font-size: 1.6vh;
  
  height: 50%;
}

.field-of-activity {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-left: auto;
  font-size: 1.6vh;
}

.rating-da {
  display: flex;
  position: absolute;
  right: 0;
}

.order {
  display: flex;
  position: relative;
}

.time {
  font-size: 2.5vh;
  margin-left: auto;
}

.container {
  display: flex;
  padding: 50px;
  justify-content: center;
}

.container .navigation {
  min-width: 25%;
  position: relative;
}

.container .navigation .block {
  position: sticky;
  top: 2.5vh;
  background-color: var(--card-color);
  border: 0.2vh solid rgba(0, 0, 255, 0.655);
  border-radius: 1.5vh;
  width: 100%;
  padding: 0.5vh 1.5vh;
  margin-top: 5vh;
}

.container .navigation .block h3 {
  margin-bottom: 15px;
}

.container .navigation .block ul {
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
  border-bottom: 1px solid white;
}

.container .navigation .block ul:last-child {
  border: 0;
}

.list p{
  color: #fff;
}

.container .navigation .block ul li {
  list-style: none;
}

.container .navigation .block ul li.button {
  border-radius: 100%;
  background-color: rgba(0, 120, 255, 0.7);
  padding: 3px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.container .cards .card {
  width: 400px;
  height: 250px;
  background-color: var(--card-color);
  border: 2px solid rgba(0, 0, 255, 0.655);
  border-radius: 15px;
}