@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    --margin: 0 10vh;
    --font-family: 'Comfortaa', cursive;
    --background: linear-gradient(rgb(73, 156, 237), rgb(30, 50, 208));
    --bg-color: #fff;
    --card-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    color: black;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

a {
    color: black;
    text-decoration: none;
}

.container {
    min-height: 100%;
    display: flex;
    justify-content: top;
    align-items: top;
    margin-top: 80px;
}

.container div {
    position: absolute;
    left: auto;
    right: auto;
    transition: all 1000ms ease-in;
    width: 650px;
    height: 200px;
    color: black;
    display: flex;
    align-items: top;
}

.container div h1 {
    font-size: 3.2vh;
}

.before {
    transform: translateX(150%);
    opacity: 0;
}

.now {
    transform: translateX(0%);
    opacity: 1;
}

.after {
    transform: translateX(-200%);
    opacity: 0;
}

.navbar {
    display: flex;
    margin: var(--margin);
    justify-content: space-between;
}

.navbar div {
    width: 100%;
}

.small_logo {
    height: 70px;
}

.navbar_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.acc-button {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: end;
}

.reg {
    color: white;
    border-radius: 40px;
    padding: 10px 18px;
    background: var(--background);
}

.intro {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 63vh;
    margin-top: 16vh;
    position: relative;
}

.tagline {
    font-size: 8vh;
}

.low_tagline_button {
    color: white;
    border-radius: 4vh;
    font-size: 3vh;
    padding: 1.8vh 1.8vh;
    width: 22vh;
    background: var(--background);
    position: absolute;
    bottom: 0;
}

.logo {
    height: 45vh;
    margin-top: 5vh;
    margin-left: auto;
}

.general {
    display: flex;
    margin: var(--margin);
}

  .hyeva {
    align-items: flex-start;
    background-color: var(--bg-color);
    display: flex;
    height: 60vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0px;
  }

  #cards {
    justify-content: center;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 80%;
    width: calc(100% - 20px);
    height: 60%;
    max-height: 80%;
    height: calc(100% - 20px);
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 50%;
    flex-direction: column;
    position: relative;
    width: 30%;  
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(20, 20, 20, 0.25),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(20, 20, 20, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
  
  /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
  
  h1, h2, h3, h4, span {
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    margin: 0px;
  }
  
  i {  
    color: rgb(20, 20, 20);
  }
  
  .card-image {
    align-items: center;
    display: flex;
    height: 18vh;
    justify-content: center;
    overflow: hidden;
  }
  
  .card-image > i {
    font-size: 6em;
    opacity: 1;
  }
  
  .card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
    gap: 1vh;
  }
  
  .card-info > i {  
    font-size: 1em;
    height: 2vh;
    line-height: 20vh;
  }
  
  .card-info-title > h3 {
    font-size: 2.2vh;
    line-height: 8vh;
  }
  
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 0.8vh;
  }
  
  /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
  
  @media(max-width: 1000px) {
    body {
      align-items: flex-start;  
      overflow: auto;
    }
    
    #cards {    
      max-width: 1000px;
      padding: 1vh 0px;
    }
    
    .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
    }
  }
  
  @media(max-width: 500px) {
    .card {
      height: 18vh;
    }
    
    .card-image {
      height: 15vh;
    }
    
    .card-image > i {
      font-size: 3em;
    }
      
    .card-info-wrapper {
      padding: 0px 10px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
    }
  }
  
  @media(max-width: 320px) {
    .card {
      width: 100%;
    }
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  .link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .link > i, .link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .link > span {
    color: black;
  }

  .img-programm {
    height: 15vh;
    width: 22vh;
    padding-top: 3.8vh;
    filter: drop-shadow(0 0 0.4rem blue);
  }

  .img-design {
    height: 15vh;
    padding-top: 3.5vh;
    filter: drop-shadow(0 0 0.4rem blue);
  }

  .img-smm {
    padding-top: 3vh;
    height: 15vh;
    filter: drop-shadow(0 0 0.4rem blue);
  }

  .img-marketing {
    padding-top: 3vh;
    height: 15vh;
    filter: drop-shadow(0 0 0.4rem blue);
  }

  .img-copiraiting {
    margin-top: 3vh;
    padding: 2vh;
    height: 17vh;
    filter: drop-shadow(0 0 0.4rem blue);
  }

  .img-managment {
    padding-top: 3.2vh;
    height: 15vh;
    filter: drop-shadow(0 0 0.4rem blue);
  }

  .specialnost{
    font-size: 2.5vh;
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 8vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0px;
  }

  .top-year-cards {
    align-items: flex-start;
    background-color: var(--bg-color);
    display: flex;
    height: 15vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0px;
    gap: 3vh;
    max-width: 100%;
  }

  .top-year-card {
    width: 23.5%;
    display: flex;
    padding: 1vh;
    background: #d4d6d6;
    border-radius: 15px;
  } 

  .acc-info {
    display: flex;
    flex-direction: column;
    font-size: 1.9vh;
  }

  .img-q {
    height: 10vh;
    border-radius: 150px;
    filter: drop-shadow(0 0 0.3rem blue);
  }

  .acc-info {
    padding: 1vh;
    padding-top: 1.5vh;
    position: relative;
    width: 100%;
  }

  .acc-info a {
    margin: 0.8vh 0;
    padding: 0.5vh 0.7vh;
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 0.3rem blue);
    position: absolute;
    right: 0;
    top: 6vh;
  }

  .leaderboard {
    position: absolute;
    right: 0;
    font-size: 2vh;
  }

  .img-mesto {
    position: relative;
    width: 100%;
  }